# Edificações restituidas em 2004 dentro de favelas

Inicialmente precisamos criar uma base de treinamento para o algorítimo de Inteligência artificial, indicando edificações que foram restituidas em 2004 dentro de favelas e posteriormente rodando para toda a cidade sobre a mesma base de ortofotos de 2004 para identificar as edificações em áreas de favela naquela data.

Para isso devemos utilizar quadrículas de 32m de lado que correspodem um pouco mais do que 256 pixels de lado em uma imagem com resolução espacial de 12,5cm como as de 2004. As quadrículas que estão dentro do cadastro atual de favelas e não estão no cadastro de favelas de 2004 devem conter elementos suficientes para o treinamento.

De fato, muitas áreas que são consideradas favelas foram restituidas, no entanto não é possível garantir. Para isso vamos selecionar manualmente as áreas que forem úteis para o treinamento e descartar as que não possuem lições corretas para indicar onde estão as edificações.

In [ ]:
## TODO 
# Raterizar lotes
# https://corteva.github.io/geocube/stable/index.html

## TODO
# Selecionar algumas feições para treinamento

In [1]:
import geopandas as gpd

In [2]:
gdf_favelas_mdc = gpd.read_file('MDC/DEINFO_FAVELIZACAO.shp')

In [3]:
gdf_edificacoes_mdc = gpd.read_file('MDC/DEINFO_EDIFICACAO.shp')

In [4]:
gdf_favelas_atual = gpd.read_file('data/SIRGAS_SHP_favela/SIRGAS_SHP_favela.shp')

In [5]:
gdf_quadriculas = gpd.read_file('data/quadriculas-32m-nas-areas-de-favela-atual.gpkg')

In [6]:
#gdf_edificacoes_unnary = gdf_edificacoes_mdc.unary_union()

In [7]:
gdf_edificacoes_mdc = gdf_edificacoes_mdc.to_crs(31983)

In [10]:
gdf_quadriculas_unary = gdf_quadriculas.unary_union

In [15]:
gpd.sjoin(gdf_quadriculas.sample(n=10), gdf_edificacoes_mdc, how='left')

,left,top,right,bottom,id,geometry,index_right,CLASSID,FEATID,DATA_CRIAC,ESCALA,ALTURA_EDI,COD_SETOR_
428,352213.6037,7.386198e+06,352245.6037,7.386166e+06,2154549,"POLYGON ((352213.604 7386197.533, 352245.604 7...",1957293.0,21.0,1952720.0,2007-03-11,1:1.000,4.218,252
428,352213.6037,7.386198e+06,352245.6037,7.386166e+06,2154549,"POLYGON ((352213.604 7386197.533, 352245.604 7...",1951791.0,21.0,1952398.0,2007-03-11,1:1.000,3.387,252
428,352213.6037,7.386198e+06,352245.6037,7.386166e+06,2154549,"POLYGON ((352213.604 7386197.533, 352245.604 7...",1957292.0,21.0,1952719.0,2007-03-11,1:1.000,3.183,252
428,352213.6037,7.386198e+06,352245.6037,7.386166e+06,2154549,"POLYGON ((352213.604 7386197.533, 352245.604 7...",1951789.0,21.0,1952396.0,2007-03-11,1:1.000,3.153,252
428,352213.6037,7.386198e+06,352245.6037,7.386166e+06,2154549,"POLYGON ((352213.604 7386197.533, 352245.604 7...",1951788.0,21.0,1952395.0,2007-03-11,1:1.000,4.339,252
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9461,319333.6037,7.380918e+06,319365.6037,7.380886e+06,224669,"POLYGON ((319333.604 7380917.533, 319365.604 7...",2320004.0,21.0,2319920.0,2007-03-11,1:1.000,3.620,166
9461,319333.6037,7.380918e+06,319365.6037,7.380886e+06,224669,"POLYGON ((319333.604 7380917.533, 319365.604 7...",2318794.0,21.0,2320144.0,2007-03-11,1:1.000,4.830,166
9461,319333.6037,7.380918e+06,319365.6037,7.380886e+06,224669,"POLYGON ((319333.604 7380917.533, 319365.604 7...",2316151.0,21.0,2315478.0,2007-03-11,1:1.000,3.420,166
9461,319333.6037,7.380918e+06,319365.6037,7.380886e+06,224669,"POLYGON ((319333.604 7380917.533, 319365.604 7...",2317093.0,21.0,2317031.0,2007-03-11,1:1.000,4.910,166
9461,319333.6037,7.380918e+06,319365.6037,7.380886e+06,224669,"POLYGON ((319333.604 7380917.533, 319365.604 7...",2317101.0,21.0,2317039.0,2007-03-11,1:1.000,3.380,166

In [ ]:
gdf_edificacoes_mdc_quadriculas

In [ ]:
gdf_quadriculas_alvo = gpd.sjoin(gdf_quadriculas, gdf_edificacoes_mdc, how='left')

C:\Users\D877341\AppData\Local\Temp/ipykernel_33188/1809268656.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:31983
Right CRS: EPSG:5533

  gdf_quadriculas_alvo = gpd.sjoin(gdf_quadriculas, gdf_edificacoes_mdc, how='left')
Exception ignored in: <function BaseGeometry.__del__ at 0x0000015ABFF2CCA0>
Traceback (most recent call last):
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\shapely\geometry\base.py", line 242, in __del__
    self.empty(val=None)
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\shapely\geometry\base.py", line 227, in empty
    self._lgeos.GEOSGeom_destroy(self.__geom__)
KeyboardInterrupt:
Exception ignored on calling ctypes callback function: <function Index._create_idx_from_stream.<locals>.py_next_item at 0x0000015AC2253040>
Traceback (most recent call last):
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\rtree\index.py", line 1047, in py_next_item
    p_id[0], coordinates, obj = next(stream_iter)
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\geopandas\sindex.py", line 326, in <genexpr>
    (i, item.bounds, None)
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\shapely\geometry\base.py", line 479, in bounds
    return self.impl['bounds'](self)
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\shapely\coords.py", line 169, in __call__
    cs = lgeos.GEOSGeom_getCoordSeq(env.exterior._geom)
  File "C:\Users\D877341\Miniconda3\envs\geo\lib\site-packages\shapely\geometry\polygon.py", line 254, in exterior
    g = lgeos.GEOSGetExteriorRing(self._geom)
KeyboardInterrupt:

In [20]:
gdf_quadriculas_alvo

,left,top,right,bottom,id,geometry,index_right,CLASSID,FEATID,DATA_CRIAC,ESCALA,ALTURA_EDI,COD_SETOR_
0,320983.6037,7.388958e+06,321015.6037,7.388926e+06,321256,"POLYGON ((320983.604 7388957.533, 321015.604 7...",548153.0,21.0,550693.0,2007-03-11,1:1000,4.420,159
0,320983.6037,7.388958e+06,321015.6037,7.388926e+06,321256,"POLYGON ((320983.604 7388957.533, 321015.604 7...",548151.0,21.0,550691.0,2007-03-11,1:1000,5.170,159
0,320983.6037,7.388958e+06,321015.6037,7.388926e+06,321256,"POLYGON ((320983.604 7388957.533, 321015.604 7...",548155.0,21.0,550695.0,2007-03-11,1:1000,3.300,159
0,320983.6037,7.388958e+06,321015.6037,7.388926e+06,321256,"POLYGON ((320983.604 7388957.533, 321015.604 7...",548154.0,21.0,550694.0,2007-03-11,1:1000,3.111,159
0,320983.6037,7.388958e+06,321015.6037,7.388926e+06,321256,"POLYGON ((320983.604 7388957.533, 321015.604 7...",548152.0,21.0,550692.0,2007-03-11,1:1000,3.169,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20054,317623.6037,7.373148e+06,317655.6037,7.373116e+06,124551,"POLYGON ((317623.604 7373147.533, 317655.604 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20055,317623.6037,7.373358e+06,317655.6037,7.373326e+06,124544,"POLYGON ((317623.604 7373357.533, 317655.604 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20056,317623.6037,7.373328e+06,317655.6037,7.373296e+06,124545,"POLYGON ((317623.604 7373327.533, 317655.604 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20057,317623.6037,7.373298e+06,317655.6037,7.373266e+06,124546,"POLYGON ((317623.604 7373297.533, 317655.604 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
20058,317623.6037,7.373268e+06,317655.6037,7.373236e+06,124547,"POLYGON ((317623.604 7373267.533, 317655.604 7...",NaN,NaN,NaN,NaN,NaN,NaN,NaN